/*
.container-fluid, .container{
   font-family: 'Open Sans', sans-serif;
}

html,body {
  height:100%;
}

img 
{
  max-width: 50%;
}

.centered 
{
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600);

html {
  -webkit-text-size-adjust: 200%;
}

.container,
.container-fluid {
  color: #505050;
  font: 1.2em/1.75em 'Source Sans Pro', sans-serif;
  letter-spacing: 0.25px;
}

.menu {
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  line-height: 60%;
  padding: 30px 0 15px;
  text-align: center;
 }

.blog-title {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: -1px;
}

.header {
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  line-height: 30%;
  padding: 50px 0 25px;
  text-align: center;
}

.menu-title {
  font-size: 18pt;
}

.left-header {
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  line-height: 60%;
  padding: 75px 0;
  position: absolute;
  overflow: hidden;
  width: 50%;
  z-index: 2;
}

a {
  color:gray !important;
}

a:hover {
  color:#303030 !important;
  text-decoration: none !important;
}

.right-header {
  background-color: blue;
  background-image: url(/images/Bamboo.jpg);
  background-size: cover;
  height: 100%;
  overflow: hidden;
  padding: 150px 0;
  position: absolute;
  width: 50%;
  z-index: 2
}

.small-caps {
  color: gray;
  font-size: 10pt;
  font-weight: 600;
  line-height: 5%;
  text-transform: uppercase;
}

.blog-post {
  padding: 25px 0;
}

.blog-post-content {
  padding: 25px 0;
}

.blog-post-title {
  background-color: white;
  font: 30pt 'Quicksand', sans-serif;
  letter-spacing: -1px;
}

.blog-post-date {
  background-color: white;
  padding: 7px;
}

.blog-post-header {
  background-position: center;
  background-size: cover;
  padding: 200px 0 75px;
}

.blog-post-related {
  background-color: #F2F4F5;
  background-size: cover;
  padding: 100px 0 75px;
}

.link-centered {
  padding-bottom: 25px;
  text-align: center;
}

.content {
  padding: 20px 0;
}

.content-gray {
  background-color: #F2F4F5;
  padding: 30px 0;
}

.section-heading {
  padding: 25px 0;
}

.footer {
  padding: 20px 0 10px;
}

.menu-item {
  line-height: 60%;
  padding: 3px 0;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.footer-left {
  text-align: left;
  vertical-align: text-bottom;
}

.footer-right {
  text-align: right;
  vertical-align: text-bottom;
}

@media screen and (max-width: 70em) {

  .footer-left,
  .footer-right {
    text-align: center;
    vertical-align: text-bottom;
  }

}