/*
.container-fluid, .container{
   font-family: 'Open Sans', sans-serif;
}

html,body {
  height:100%;
}

img 
{
  max-width: 50%;
}

.centered 
{
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Slab:100,300');


html {
  -webkit-text-size-adjust: 200%;
}

.container,
.container-fluid {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.menu {
  background-size: cover;
  font-family: 'Roboto Slab', serif;
  line-height: 60%;
  padding: 30px 0 15px;
  text-align: center;
  background-color: #222222;
  color: white;
 }

.menu-title {
  padding: 10px;
}

.menu-title a {
  font-family: 'Roboto Slab', serif;
  font-size: 15pt;
  line-height: 60%;
  padding: 20px;
  color: white !important;
}

.menu li a {
  color:white !important;
  font-size: 0.75em;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.menu-item {
  line-height: 60%;
  padding: 5px 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}

a {
  color:black !important;
  /*font-size: 0.75em;*/
}

a:hover {
  /*color:#B9B9B9 !important;*/
  color:#967EDD !important;
  text-decoration: none !important;
}

.blog-title {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

.header {
  background-color: #222222;
  color:white;
  padding-bottom: 30px;
  font-family: 'Roboto Slab', serif;
  line-height: 30%;
  padding-top: 300px;
  text-align: left;
}

.header li a {
  color:white !important;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.header li a:hover {
  /*color:#B9B9B9 !important;*/

  color:#967EDD !important;
}


.header-icons {
  padding-top: 20px;
  padding-bottom: 150px;
}

.header-bio {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #B9B9B9;
}

.header-menu {
  color: white !important;
  /*padding-bottom: 20px;*/
  padding-top: 100px;
}

.left-header {
  background-size: cover;
  font-family: 'Roboto Slab', serif;
  height: 100%;
  line-height: 60%;
  padding: 75px 0;
  position: absolute;
  overflow: hidden;
  width: 50%;
  z-index: 2;
}

.right-header {
  background-color: blue;
  background-image: url(/images/Bamboo.jpg);
  background-size: cover;
  height: 100%;
  overflow: hidden;
  padding: 150px 0;
  position: absolute;
  width: 50%;
  z-index: 2
}

.small-caps {
  /*color: gray;*/
  font-family: 'Roboto', sans-serif;
  font-size: 8pt;
  font-weight: 700;
  line-height: 5%;
  text-transform: uppercase;
}

.blog-post {
  padding: 25px 0;
}

.blog-post-content {
  padding: 25px 0;
}

.blog-post-title {
  background-color: white;
  font: 30pt 'Roboto Slab', serif;
  padding-left: 10px;
  padding-right: 10px;
    -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.blog-post-date {
  background-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.blog-post-header {
  background-position: center;
  background-size: cover;
  padding: 400px 0 75px;
}

.blog-post-related {
  background-color: #F2F4F5;
  background-size: cover;
  padding: 100px 0 75px;
}

.link-centered {
  padding-bottom: 25px;
  text-align: center;
}

.content {
  padding: 20px 0;
}

.content-gray {
  background-color: #F2F4F5;
  padding: 30px 0;
}

.section-heading {
  padding: 25px 0;
}

.footer {
  padding: 20px 0 10px;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.footer-left {
  text-align: left;
  vertical-align: text-bottom;
}

.footer-right {
  text-align: right;
  vertical-align: text-bottom;
}

@media screen and (max-width: 992px) {

  .footer-left,
  .footer-right {
    text-align: center;
    vertical-align: text-bottom;
  }

  .blog-post {
    padding-left: 25px;
    padding-right: 25px;
  }

  .blog-post-header {
    padding: 200px 0 75px;
  }

}

@media screen and (max-width: 768px) {

  .header {
    text-align: center;
  }

}