	<div class="container-fluid footer">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1 footer-left">
				<!--<p class=blog-date>SOCIALLY ACCEPTABLE STALKING</p>-->
				<ul class="list-inline">
					<li><a href="http://twitter.com/rgwho"><i class="fa fa-twitter fa-lg"></i></a></li>
					<li><a href="http://instagram.com/rgaquino"><i class="fa fa-instagram fa-lg"></i></a></li>
					<li><a href="http://www.last.fm/user/aquinorg"><i class="fa fa-lastfm fa-lg"></i></a></li>
					<li><a href="https://github.com/rgaquino"><i class="fa fa-github fa-lg"></i></a></li>
					<li><a href="https://ph.linkedin.com/in/rgaquino"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
				</ul>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0 footer-right">
				<ul class="list-inline">
					<li><p class=blog-date>© 2016 RALPH GREGOR AQUINO</p></li>
				</ul>
			</div>		
		</div>
	</div>
</body>
</html>