<div class="header">
  <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 header-title">
          <h2>Hi, I'm RG Aquino.</h2>
          <h4 class="header-bio">Software Developer. Singapore.</h4>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 header-icons">
        <ul class="list-inline">
          <li><a href="https://instagram.com/rgaquino"><i class="fa fa-instagram fa-lg"></i></a></li>
          <li><a href="https://github.com/rgaquino"><i class="fa fa-github fa-lg"></i></a></li>
          <li><a href="https://ph.linkedin.com/in/rgaquino"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
          <li><a href="https://letterboxd.com/rgaquino"><i class="fa fa-film fa-lg"></i></a></li>
          <li><a href="https://www.last.fm/user/aquinorg"><i class="fa fa-lastfm fa-lg"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 header-menu">
        <ul class="list-inline">
          <li><a href="/">ABOUT</a></li>
          <li><a href="https://rgaquino.tumblr.com">QUOTES</a></li>
          <li><a href="https://m.me/ralphgregor">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>