<div class="container-fluid header">
	<div class="row">
		<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
			<img src="{{ site.github.url }}/images/avatar.jpg" alt="me" class="img-circle">
			<h2>RALPH GREGOR AQUINO</h2>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
			<ul class="list-inline">
				<li><a href="/">BLOG</a></li>&nbsp;/&nbsp;
				<li><a href="#">WORK</a></li>&nbsp;/&nbsp;
				<li><a href="#">CONTACT</a></li>
			</ul>
		</div>
	</div>
</div>