<div class="container-fluid header">
	<div class="row">
		<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
			<img src="{{ site.github.url }}/images/avatar.jpg" alt="me" class="img-circle">
			<h2>rg aquino</h2>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
			<ul class="list-inline">
				<li><a href="/">blog</a></li>&nbsp;/&nbsp;
				<li><a href="https://ph.linkedin.com/in/rgaquino">work</a></li>&nbsp;/&nbsp;
				<li><a href="https://m.me/ralphgregor">contact</a></li>
			</ul>
		</div>
	</div>
</div>