<!--<nav class="navbar navbar-default navbar-fixed-top">-->
	<div class="container-fluid menu">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1 footer-left">
				<ul class="list-inline menu-title menu-item">
					<li><a href="/">RALPH GREGOR AQUINO</a></li>
				</ul>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0 footer-right">
				<ul class="list-inline menu-item">
					<li><a href="/">BLOG</a></li>&nbsp;/&nbsp;
					<li><a href="#">WORK</a></li>&nbsp;/&nbsp;
					<li><a href="#">CONTACT</a></li>
				</ul>
			</div>		
		</div>
	</div>
<!--</nav>-->