<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta name="author" content="Ralph Gregor Aquino"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300">
  <link rel="stylesheet" href="{{ site.github.url }}/css/base.css"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="{{ site.github.url }}/js/bootstrap.min.js"></script>
  <script src="{{ site.github.url }}/js/jquery-2.1.1.min.js"></script>
  <script src="{{ site.github.url }}/js/jquery-ui.min.js"></script>
  <script src="{{ site.github.url }}/js/base.js"></script>   
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>