<!DOCTYPE html>
<head>
	<title>{{ page.title }}</title>
	<meta name="author" content="Ralph Gregor Aquino"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300">
	<link rel="stylesheet" href="/css/base.css"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/base.js"></script>   
</head>
<body>
<div class="container-fluid header">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
			<img src="/images/avatar.jpg" alt="me" class="img-circle">
			<h2>RALPH GREGOR AQUINO</h2>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
			<ul class="list-inline">
				<li><a href="/">BLOG</a></li>&nbsp;/&nbsp;
				<li><a href="/work">WORK</a></li>&nbsp;/&nbsp;
				<li><a href="#">CONTACT</a></li>
			</ul>
		</div>
	</div>
</div>