<!DOCTYPE html>
<head>
   <title>{{ page.title }}</title>
   <meta name="author" content="Ralph Gregor Aquino" />
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <!--fonts-->
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300">
   <!--styling-->
 	<link rel="stylesheet" href="/css/base.css" type="text/css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen">
 	<!--js-->
 	<script type="text/javascript" src="<?php bloginfo('template_url'); ?>/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="<?php bloginfo('template_url'); ?>/js/jquery-ui.min.js"></script>    
</head>