{% include top.html %}
<div class="container-fluid">
	<div class="row blog-post-header">
		<div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
			<p class="blog-date">{{ page.date | date: "%-d %B %Y" }}</p>
			<a href="/"><h2><span class="blog-post-title">{{ page.title }}</span></h2></a>
			{{ page.photo }}
		</div>
	</div>
	<div class="row blog-post-content">
	<div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
			{{ content }}
		</div>
	</div>
	<div class="row blog-post-related">
		<div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
			<p class="blog-date">RELATED POST</p>
			<a href="/"><h2><span class="blog-title">{{ page.title }}</span></h2></a>
			{{ page.photo }}
		</div>
	</div>
</div>
{% include bottom.html %}