{% include top.html %}
<body>
	<!-- intro -->
	<div id="fullpage">
		<div class="section fill">
			<h1>Hey there!</h1>
			<p>I'm still working on this site. Come back soon!</p>
			<p>Twitter: <a href="http://www.twitter.com/rgwho">@rgwho</a></p>
			<p>Instagram: <a href="http://www.instagram.com/rgaquino">@rgaquino</a></p>
		</div>
	</div>
	<!-- /intro -->	

	<!-- blog -->
<!-- 	<div class="container-fluid blog">
		<br>
		<h4>Blog Posts</h4>
		{% for post in site.posts %}
		   	<span><small>{{ post.date | date_to_string }}</small></span> <a href="{{ post.url }}">{{ post.title }}</a><br>
		{% endfor %}
		<br>
	</div> -->
	 --><!-- /blog

	<!-- <div class="container-fluid boxes">
		<div class="row">
			<div class="col-md-3" style="background-color:blue">
				BLOCK 1
			</div>
			<div class="col-md-3" style="background-color:red">
				BLOCK 2
			</div>
			<div class="col-md-3" style="background-color:green">
				BLOCK 3
			</div>
			<div class="col-md-3" style="background-color:blue">
				BLOCK 1
			</div>
		</div>
	</div> -->
</body>
</html>