{% include top.html %}
<div class="container centered">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<img src="/images/avatar.jpg" alt="me" class="img-circle">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<br><p>Hi there! I'm still working on this site. Come back soon! :)</p>
		<ul class="list-inline">
			<li><a href="http://twitter.com/rgwho"><i class="fa fa-twitter fa-2x"></i></a></li>
			<li><a href="http://instagram.com/rgaquino"><i class="fa fa-instagram fa-2x"></i></a></li>
			<li><a href="http://www.last.fm/user/aquinorg"><i class="fa fa-lastfm fa-2x"></i></a></li>
			<li><a href="https://pinterest.com/rgwho"><i class="fa fa-pinterest fa-2x"></i></a></li>
			<li><a href="https://github.com/rgaquino"><i class="fa fa-github fa-2x"></i></a></li>
			<li><a href="https://ph.linkedin.com/in/rgaquino"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
		</ul>
		</div>
	</div>
</div>

<!--<div class="container-fluid">
	<div class="row ">
		<div class="col-md-6 col-xs-12 left-header">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<img src="/images/avatar.jpg" alt="me" class="img-circle">
					<h2>RALPH GREGOR AQUINO</h2>
					<p>Developer / Designer</p>
					<p>from Manila, Philippines</p>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
					<a href="#">BLOG</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
					<a href="#">WORK</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
					<a href="#">PROFILE</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-12 right-header">
			<p>March 23, 2016</p>
			<p class="lead"><a href="http://www.cssawds.com/website/dada-data/">DADA-DATA</a></p>
			<p>Dada-Data is a digital documentary consisting of interactive exercises, six DADA Hacktions, and a web anti-museum, the DADA-Dépôt. Dada-Data was launched on the day of the 100th anniversary of the DADA movement.</p>
		</div>
	</div>
</div>-->

{% include bottom.html %}