<!-- blog -->
	<!--<div class="container blog">
		<h4>Blog Posts</h4>
		{% for post in site.posts %}
		   	<br><span><small>{{ post.date | date_to_string }}</small></span><br>
		   	<span class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></span><br>
		   	{{ post.excerpt }}
		{% endfor %}
	</div>-->
	 <!-- /blog -->

	<!--<div class="container-fluid boxes">
		<div class="row">
			<div class="col-md-3">
				Twitter: @rgwho
			</div>
			<div class="col-md-3">
				Instagram: rgaquino
			</div>
			<div class="col-md-3">
				Last.fm: aquinorg
			</div>
			<div class="col-md-3">
				Email: me@ralphgregor.com
			</div>
		</div>
	</div>-->